
/*burger*/
/* .wrapper {
    display: none;
}
.burger {
    position: relative;
    width: 100%;
    z-index: 50;
}
.burger:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.burger__conteiner {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}
.burger__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.burger__cross {
    display: none;
}
.burger__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.burger__list li {
    z-index: 4;
    margin: 0 0 0 20px;
    list-style: none;
}
.noscroll {
    overflow-y: hidden;
}  */

/*Каталог*/
.catalog {
    flex: 1 0 auto;
    padding: 0 130px 110px;
    overflow: hidden;
}
.catalog__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.catalog__body-tecnical {
    background-color: #e8e3dc;
    margin: 53px 0 54px;
}
.catalog__body-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 38px 0 38px;
    border-left: solid 1px rgba(25, 141, 155, 0.3);
    border-bottom: solid 1px rgba(25, 141, 155, 0.3);
}
.catalog__body-item:nth-child(3n + 1) {
    padding-left: 0;
    border-left: none;
}
.catalog__body-item:nth-child(7) {
    border-bottom: none;
}
.catalog__body-item:nth-child(8) {
    border-bottom: none;
}
.catalog__body-item:nth-child(9) {
    border-bottom: none;
}
.value {
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #121011;
}
.currency {
    font-family: "Cinzel";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #121011;
}
.currency:first-child {
    margin-right: 6px;
}
.catalog__body-item img[src$=".png"] {
    z-index: 4;
    padding: 0 55px 40px;
}
.catalog__body-item h3 {
    text-align: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #121011;
    margin-top: 40px;
    margin-bottom: 32px;
}

.items-info {
    display: flex;
    margin-bottom: 33px;
    flex-direction: column;
    align-items: center;
}
.items-info a:hover {
    color: #198d9b;
    transition: all 0.7s ease-in-out;
}
/* .items-info__currency {
    margin-bottom: 0;
} */
.catalog__body-item a {
    text-decoration: none;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #121011;
    border: solid 4px #198d9b;
    padding: 14px 65px;
}
.technical {
    width: 33px;
    height: 33px;
    position: relative;
    left: -112px;
    background-color: #e8e3dc;
    top: 27px;
}
.technical-elem {
    width: 41px;
    height: 46px;
    position: relative;
    left: -142px;
    top: 28px;
    background-color: #f8f4f0;
}
/* .catalog__body-item:last-child a {
    text-decoration: none;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #121011;
    border: solid 4px #198d9b;
    padding: 23px 30px;
} */
/* .catalog__body-item:last-child a:hover {
    color: #198d9b;
    transition: all 0.7s ease-in-out;
}
.catalog__body-item:last-child {
    display: none;
}
.items-info__currency .basket {
    display: none;
} */

