.breadcrumbs {
    padding-left: 130px;
    display: flex;
    flex-wrap: nowrap;

    margin-bottom: 35px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}
.breadcrumbs__list {
    display: flex;
}
.breadcrumbs__list-item:not(.breadcrumbs__list-item:last-child)::after {
    content: " /";
}
.breadcrumbs__list-item a {
    text-decoration: none;
    margin-right: 3px;
}
.breadcrumbs__list-item {
    margin-right: 3px;
}
.breadcrumbs__list-item span {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #121011;
}
