.d-flex-question {
    padding-top: 110px;
    display: flex;
}
.questions {
    margin-bottom: -350px;
    background: #fdfcfb;
}

.questions-content {
    margin: 90px -250px 544px 0px;
    width: 526px;
    z-index: 9;
    background: #e8e3dc;
    opacity: 0.8;
}

.questions__title {
    padding: 58px 58px 19px 58px;
    width: 808px;
    font-family: "Arkhip";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.questions__text {
    padding-left: 58px;
    width: 378px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.question-input {
    margin-bottom: 20px;
    margin: 50px 0 2px 58px;
    padding-bottom: 10px;
    width: 410px;
    border: none;
    outline: none;
    border-bottom: 4px solid black;
    background: rgba(232, 227, 220, 0.7);
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.questions-technical {
    background: #e8e3dc;
    left: -160px;
    width: 56px;
    height: 46px;
}

.question-text {
    margin-top: -55px;
    margin-left: 58px;
    margin-bottom: 58px;
    font-family: "Gilroy-UltraLight";
    font-style: normal;
    font-weight: 250;
    font-size: 15px;
    line-height: 10px;
}

.question-text > span {
    text-decoration: underline;
}
.menu__counter button {
    background-color: #f8f4f0;
}
.news__subtext span {
    font-size: 20px;
}
