.contacts {
    background-color: #f8f4f0;
    padding-left: 130px;
    padding-bottom: 110px;
}
.contacts-container {
    display: flex;
    flex-direction: row;
}
.contacts .card-body {
    padding: 0px 58px;
    border-radius: none !important;
}

.contacts__title {
    margin-bottom: 73px;
    padding-top: 110px;
    font-family: "Arkhip";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.contacts__image {
    margin-right: 30px;
}

.contacts__subtitle {
    padding: 47px 0px 17px 0px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #198d9b;
}

.contacts__tel {
    margin-bottom: 11px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #121011;
    text-decoration: none;
}
.contacts__tel:hover {
    transition: all 0.7s ease-in-out;
    color: #198d9b;
}

.contacts-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.contacts-time__icon {
    margin-top: 15px;
}

.contacts-time__text {
    margin-bottom: -20px;
    font-size: 18px;
    font-family: "Gilroy";
}
.contacts .card-body img {
    vertical-align: bottom;
    margin-right: 12px;
}
.card-body svg {
    margin-right: 12px;
}

.contacts-homeaddress {
    margin: 49px 0 11px 0px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.contacts-social {
    padding-bottom: 51px;
    margin-top: 28px;
}
.address:hover {
    color: #198d9b;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}
.address {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    color: #121011;
}
