.contact {
    background-color: #f8f4f0;
}
.d-flex-contact {
    display: flex;
    padding-bottom: 100px;
}
.contact {
    margin-top: -150px;
    background: #f8f4f0;
}

.contact .card-body {
    padding: 0px 28px 0 58px;
    border-radius: none !important;
}

.contact__title {
    margin-bottom: 73px;
    padding-top: 110px;
    font-family: "Arkhip";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.contact__image {
    margin-right: 30px;
}

.contact__subtitle {
    padding: 47px 0px 11px 0px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    color: #198d9b;
}

.contact__tel {
    margin-bottom: 11px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #121011;
    text-decoration: none;
}
.contact__tel:hover {
    transition: all 0.7s ease-in-out;
    color: #198d9b;
}

.contact-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.contact-time__icon {
    margin-top: 15px;
}

.contact-time__text {
    margin-bottom: -20px;
    font-size: 18px;
    font-family: "Gilroy";
}
.card-body img {
    margin-right: 12px;
}
.card-body svg {
    margin-right: 12px;
}

.contact-homeaddress {
    margin: 49px 0 11px 0px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

.contact-social {
    padding-bottom: 50px;
    margin-top: 28px;
}
